$unit: 3px;

$color-white: #fff;
$color-dark: #2d2d2d;
$color-gray: #ebecf0;
$color-gray-dark: #3B4954;

$color-blue: #1141f1;
$color-blue-light: #00b3ff;

$color-purple: #8636ff;
$color-purple-dark: #2d007a;
$color-purple-xdark: #2a1944;

$color-purple-footer: #1c1527;
$color-purple-footer-dark: #181221;

$color-teal: #00f1f6;
$color-green: #75f87f;
$color-orange: #ff7843;

$color-background: #dcd8fd;

$border-radius: 18px;
$button-border-radius: 9px;
$button-border-width: 3px;
