/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-td-tutorial-cards-block {
	border: 2px dotted #060;
}

.editor-inner-blocks{
	background-color: rgba(255,255,255, 0.03);
	min-height: 350px;
}
