/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 @media (max-width: 767px) {
    .td-table{
        word-wrap: break-word;
    }

    .td-table thead{
        position:absolute;
        left: -999em;
        top: -999em;
    }

    .td-table td{
        display: block;
        float: left;
        width: 100%;
        clear: both;
        background: #FFF;
        padding: 10px 20px;
        box-sizing: border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing: border-box;
    }
    .td-table td p{
        display: inline-block;
    }
    .td-table tr {
        border: solid 1px #131023;
        border-radius: 16px;
        margin-bottom: 10px;
    }
    .td-table.table-dark tr {
        border: solid 1px #fff;
    }
    .td-table.colored tr {
        border: solid 1px #3A61FF;
    }

    .td-table tbody, .td-table tr {
        display: block;
        float:left;
        width: 100%;
        margin-bottom: 20px;
    }
    .td-table td:first-child{
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }
    .td-table td:first-child p{
        font-weight: 600 !important;
    }
    .td-table td:last-child{
        border-bottom-right-radius: 16px;
        border-bottom-left-radius: 16px;
    }
    .td-table.colored td:first-child {
        background: #3A61FF;
        color: #fff;
    }
    .td-table td:not(:first-child):before {
        content:attr(data-th)': ';
        display: inline-block;
        font-weight: bold;
        margin: 2px;
        color: #131023;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
    }
    .td-table.td-table.headerless td:not(:first-child):before {
        content:'';
        display: none;
    }
    .td-table ul {
        color:  var(--Navy, #131023);
    }

 }

 @media (min-width: 768px) {
    .td-table th{
        border: solid 1px #131023;
        border-right: none;
    }
    .td-table th:first-child, .td-table.headerless tr:first-child td:first-child{
        border-top-left-radius: 20px;
    }
    .td-table th:last-child{
        border-top-right-radius: 20px;
        border-right: solid 1px #131023;
    }

    .td-table td{
        border: solid 1px #131023;
        border-top: none;
        border-right: none;
    }
    .td-table td:last-child {
        border-right: solid 1px #131023;
    }

    .td-table tr:last-child td:first-child {
        border-bottom-left-radius: 20px;
    }
    .td-table tr:last-child td:last-child {
        border-bottom-right-radius: 20px;
    }

    .td-table.table-dark th{
        border: solid 1px #FFF;
    }
    .td-table.table-dark th:last-child{
        border-right: solid 1px #FFF;
    }
    .td-table.table-dark td{
        border: solid 1px #FFF;
        border-top: none;
        border-right: none;
    }
    .td-table.table-dark td:last-child {
        border-right: solid 1px #FFF;
    }

    .td-table.borderless, .td-table.borderless tr, .td-table.borderless tr th, .td-table.borderless tr td  {
        border: none !important; 
    }

    .td-table.colored th, .td-table.table-dark.colored th{
        border: solid 1px #3A61FF;
        background-color: #3A61FF;
        color: #FFF;
    }
    .td-table.colored th:last-child, .td-table.table-dark.colored th:last-child{
        border-right: solid 1px #3A61FF;
    }
    .td-table.colored td, .td-table.table-dark.colored td{
        border: solid 1px #3A61FF;
        border-top: none;
        border-right: none;
    }
    .td-table.table-dark.colored td{
        background-color: #FFF;
        color:  var(--Navy, #131023);
    }
    .td-table.colored td:last-child, .td-table.table-dark.colored td:last-child {
        border-right: solid 1px #3A61FF;
    }

    .td-table.colored td:first-child, .td-table.table-dark.table-colored td:first-child {
        background-color: #F4F5F7;
        color : #131023;
    }
    .td-table.headerless tr:first-child td{
        border-top: solid 1px #131023;
    }
    .td-table.headerless.colored tr:first-child td, .td-table.headerless.colored.table-dark tr:first-child td{
        border-color: #3A61FF;
    }
    .td-table.headerless.table-dark tr:first-child td{
        border-color: #FFF;
    }

    .td-table.headerless tr:first-child td:last-child{
        border-top-right-radius: 20px;
    }
 }

 .td-table ul {
    list-style: disc;
}
.td-table ul li {
    margin-bottom:19px;
}
.td-table ul.ul-checked{
    list-style: none;
}
.td-table ul.ul-checked li:before {
    content: ' ';
    background: url(/assets/images/icons/checkmark.svg) no-repeat center center;
    width: 22px;
    height: 19px;
    margin-right: 18px;
    display:inline-flex;
}
/*
 .btn-secondary {
    &:after {
        background: url(/assets/images/icons/navy-arrow-right.svg) no-repeat center center;
        top: 10px;
        right: -38px;
        width: 38px;
        height: 23px;
    }
    &.arrow-only:after {
        right: auto;
        left: 0;
    }
}
*/