$color-white: #fff;
$color-dark: #000000;
$color-gray: #616161;
$color-gray-dark: #3B4954;

$color-blue: #141024;
$color-blue-light: #1A57DB;

$color-purple: #A37AFC;
$color-purple-dark: #58528F;
$color-purple-xdark: #231670;

$color-purple-footer: #1c1527;
$color-purple-footer-dark: #181221;

$color-teal: #00f1f6;
$color-green: #A1CD3A;
$color-orange: #ff7843;

$border-radius: 18px;
$button-border-radius: 9px;
$button-border-width: 3px;