
.logo-banner__wrapper {
    --end-x: -100%;
    --gap: 0;
    max-width: fit-content;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}
.logo-banner__logos {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    gap: var(--gap);
    //min-width: 100%;
}

.logo-banner--animating .logo-banner__logos {
    //min-width: 100%;
    animation: scroll var(--duration) linear infinite;
    @media screen and (max-width: 767px) {
        animation: scroll var(--duration-mobile) linear infinite;
    }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(var(--end-x));
  }
}

@media screen and (max-width: 767px) {
   .logo-banner img {
        max-height: 60px;
        max-width: 135px;
    }
}